/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

/* elementos en menu header
------------------------------------------*/
#header .btn, #primary-menu>a {
    margin: 33px 0 33px 15px;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

#header.sticky-header .btn, #header.sticky-header #primary-menu>a { margin: 13px 0 13px 15px; }

@media (max-width: 991px) {

    #header .btn, #primary-menu>a {
        position: absolute;
        margin: 0;
        top: 33px;
        left: auto;
        right: 15px;
    }

}

@media (max-width: 767px) {

    #copyrights .col_half:last-child {
        display: block;
        text-align: center;
    }

}